/Crypto.class
/Transaction$Input.class
/Transaction$Output.class
/Transaction.class
/TxHandler.class
/UTXO.class
/UTXOPool.class
/Main$Tx.class
/Main.class
/IsValidTest.class
/UtxoTestSet$UtxoTestSetBuilder.class
/UtxoTestSet.class
/ValidationLists$Builder.class
/ValidationLists.class
